<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info', object: current_user %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>

    <div class="col-md-8">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <% provide(:page_wrapper, "home_wrapper") %>
  <div class="row">
    <h1>Well, It's Time</h1>
    <p>Get in the pacific ocean of the greatest Musics</p>
    
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    <p>or</p>
    <%= link_to "Log in", login_path, class: "btn btn-lg btn-success" %>
  </div>
<% end %>