<div class="row">
  <div class="post-<%= @post.id %>" class="col-md-8">
    <div class="post_user_info">
      <%= link_to icon_for(@post.user), @post.user %>
      <%= link_to @post.user.name,      @post.user %>
    </div>
    
    <div class="post">
      <div class="heading">
        <h1><%= @post.music.name %></h1>
        <h2><%= @post.music.artist %></h2>
        <img src="<%= @post.music.artwork %>" alt="<%= @post.music.name %>">
      </div>

      <div class="content"><%= @post.content %></div>
      <span class="timestamp">Posted <%= time_ago_in_words(@post.created_at) %> ago.</span>
      <% if current_user?(@post.user) %>
        <%= link_to "edit", edit_post_path(@post) %>
        <%= link_to "delete", @post, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">music player here</div>
</div>